# TODO

Track active work. Git log tracks what's done.

## In Progress

[Move tasks here when you start]

## Next Up

- [ ] Define what success looks like for this POC

## Backlog

[Add future tasks here]
